.header {
    /* min-height: 10vh; */
    background-color: rgba(199, 189, 226, 0.2);
    padding: 1rem;
    border-bottom: 3px solid rgb(203, 203, 255);

    display: flex;
    gap: 1rem;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    width: 25rem;
}

.description {
    font-size: 1.5rem;
    background-color: rgb(38, 101, 168, 0.5);
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    color: yellow;
}

.score-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-size: 2.5rem;
    color: yellow;
    background-color: rgb(38, 101, 168, 0.8);
    padding: 1rem;
    border-radius: 1rem;
}

.title {
    width: 100%;
}

.score-container {
    margin-left: auto;
}

/* .title-container {
} */

.pikachu-image {
    width: 10rem;
    height: 100%;
}

@media (max-width: 724px) {
    .pikachu-image {
        width: 5rem;
        height: auto;
        display: none;
    }

    .description {
        font-size: 1.1rem;
    }

    .score-container {
        font-size: 1.3rem;
        /* width: 50%; */
    }

    .title {
        height: 3rem;
        width: auto;
    }
}
